@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-helvetica-neue), sans-serif;
  --font-ysabeau: var(--font-ysabeau), sans-serif;
  --font-karla: var(--font-karla), sans-serif;

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-background: var(--color-background);
  --color-light: var(--color-light);

  --breakpoint-xs: 28rem;
}

:root {
  --color-primary: #000000;
  --color-secondary: #4c4c4c;
  --color-tertiary: #838383;
  --color-background: #fff;
  --color-light: #8b8b8b;
}

/* [data-theme="dark"] {
  --color-primary: #ffffff;
  --color-secondary: #c3c3c3;
  --color-tertiary: #8b8b8b;
  --color-background: #000000;
  --color-light: #1a1c22;
} */

/* [data-theme="sunset"] {
  --color-primary: #ffeac0;
  --color-secondary: #c7b47a;
  --color-tertiary: #8b8b8b;
  --color-background: #0b0905;
  --color-light: rgb(98, 77, 19);
} */

* {
  scrollbar-width: none;
}

html {
  overscroll-behavior: none;
}

body {
  color: var(--color-primary);
  background: var(--color-background);
  transition: all 0.25s ease-out;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes sway {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.animate-sway {
  animation: sway 4s ease-in-out infinite;
}
