@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-helvetica-neue), sans-serif;
  --font-ysabeau: var(--font-ysabeau), sans-serif;
  --font-karla: var(--font-karla), sans-serif;

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-background: var(--color-background);
  --color-light: var(--color-light);
}

:root {
  --color-primary: #000000;
  --color-secondary: #4c4c4c;
  --color-tertiary: #838383;
  --color-background: #fff;
  --color-light: #8b8b8b;
}

/* [data-theme="dark"] {
  --color-primary: #ffffff;
  --color-secondary: #c3c3c3;
  --color-tertiary: #8b8b8b;
  --color-background: #000000;
  --color-light: #1a1c22;
} */

[data-theme="sunset"] {
  --color-primary: #ffeac0;
  --color-secondary: #c7b47a;
  --color-tertiary: #8b8b8b;
  --color-background: #0b0905;
  --color-light: rgb(98, 77, 19);
}

body {
  color: var(--color-primary);
  background: var(--color-background);
  transition: all 0.25s ease-out;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes sway {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.animate-sway {
  animation: sway 4s ease-in-out infinite;
}

.gradient-blur {
  position: fixed;
  inset: auto 0 0 0;
  pointer-events: none;
}

.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}

.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}
.gradient-blur > div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}
.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}
.gradient-blur > div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}
.gradient-blur > div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}
.gradient-blur > div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}
.gradient-blur > div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(32px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}
.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(64px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}
