@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-helvetica-neue), sans-serif;
  --font-ysabeau: var(--font-ysabeau), sans-serif;
  --font-karla: var(--font-karla), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes sway {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.animate-sway {
  animation: sway 4s ease-in-out infinite;
}
