@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    background: #000;
    overscroll-behavior-y: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.spinner {
    display: none !important;
}

.dark .enter {
    background: rgb(29, 32, 44) !important;
    color: #fff;
    border: none;
}

.enter {
    background: rgb(245, 245, 245) !important;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.dark .tippy-tooltip-content {
    color: #fff;
}

.tippy-tooltip-content {
    color: #000;
}
